@import '~antd/dist/antd.css';

.App {
  display: flex;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #282c34;
}

.App-header {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 0em 5em 0em 5em;
  overflow-y: scroll;
}

.App-link {
  color: #61dafb;
}